<div>
    <label class="text-gray-900" for="phone" input-label>{{ label }}</label>
    <div input-wrapper>
        <!-- TODO: svg component -->
        <!-- Anything between component tags will be prefixed to input -->
        <ng-content></ng-content>
        <input 
            input-control
            (input)="onChange($event.target.value)"
            (blur)="onTouched()"
            [type]="inputType" 
            [placeholder]="placeholder"
            [attr.aria-label]="ariaLabel" 
            [value]="value">
    </div>
</div>